# Use this notebook for your 3 choices of APIs

In [97]:
# Import requests library
import requests
from pandas import json_normalize

In [58]:
# print(usajobs)
# print(len(usajobs.content))
# usajobs.content

In [39]:
response = requests.get('https://data.usajobs.gov/api/codelist/agencysubelements')
response

In [59]:
# response.content

In [84]:
import json

# response = requests.get('https://data.usajobs.gov/api/codelist/agencysubelements')
# response.content
# print(len(response.text))
# usajobs = response.json()
# usajobs

In [44]:
type(usajobs)

dict

In [77]:
usajobs['CodeList'][0]['ValidValue'][0]

{'Code': 'AF',
 'Value': 'Department of the Air Force',
 'ParentCode': 'DD',
 'Acronym': 'AF',
 'LastModified': '2021-05-14T11:04:18.77',
 'IsDisabled': 'No'}

In [83]:
# usajobs['CodeList'][0]

In [79]:
pd.DataFrame(usajobs['CodeList'][0]['ValidValue'])

,Code,Value,ParentCode,Acronym,LastModified,IsDisabled
0,AF,Department of the Air Force,DD,AF,2021-05-14T11:04:18.77,No
1,AG,Department of Agriculture,NaN,USDA,2021-04-30T11:38:44.897,No
2,AR,Department of the Army,DD,,2021-05-14T11:04:18.897,No
3,CM,Department of Commerce,NaN,DOC,2021-04-30T11:38:45.873,No
4,DD,Department of Defense,NaN,DOD,2021-04-30T11:38:46.297,No
5,DJ,Department of Justice,NaN,DOJ,2021-04-30T11:38:49.93,No
6,DL,Department of Labor,NaN,DOL,2021-04-30T11:38:50.133,No
7,ED,Department of Education,NaN,ED,2021-04-30T11:38:50.633,No
8,DN,Department of Energy,NaN,DOE,2021-04-30T11:38:50.457,No
9,GS,General Services Administration,NaN,GSA,2021-04-30T11:38:51.85,No
10,HE,Department of Health and Human Services,NaN,HHS,2023-03-17T10:40:05.937,No
11,HS,Department of Homeland Security,NaN,DHS,2021-04-30T11:38:52.967,No
...,...,...,...,...,...,...
1020,ST00,Department of State - Agency Wide,ST,DOS,2021-04-30T11:38:55.553,No
1021,ED00,Department of Education - Agency Wide,ED,ED,2021-04-30T11:38:50.633,No
1022,VA00,Department of Veterans Affairs - Agency Wide,VA,VA,2021-04-30T11:38:56.293,No
1023,ZZ,Non-Federal Civilian Customers,NaN,,2021-03-29T09:28:41.693,No
1024,HU00,Department of Housing and Urban Development - ...,HU,HUD,2021-04-30T11:38:53.223,No
1025,NV00,Department of the Navy - Agency Wide,NV,,2021-05-14T11:04:18.913,No
1026,JL00,Judicial Branch - Agency Wide,JL,,2021-04-30T11:38:54.083,No
1027,AG00,Department of Agriculture - Agency Wide,AG,USDA,2021-04-30T11:38:44.897,No
1028,DL00,Department of Labor - Agency Wide,DL,DOL,2021-04-30T11:38:50.133,No
1029,OT,Other Agencies and Independent Organizations,NaN,,2021-03-29T09:28:41.693,No
1030,AF00,Department of the Air Force - Agency Wide,AF,AF,2021-05-14T11:04:18.77,No
1031,TD00,Department of Transportation - Agency Wide,TD,DOT,2021-04-30T11:38:55.777,No

2.

In [98]:
dog = response = requests.get("https://dog.ceo/api/breeds/list/all")
print("dog:", dog.status_code)

dog: 200

In [109]:
# print(dog)
# print(len(dog.content))
# dog.content

In [108]:
# import json

# response = requests.get('https://dog.ceo/api/breeds/list/all')
# response.content
# print(len(response.text))
# dog = response.json()
# dog

In [101]:
type(dog)

dict

In [106]:
response = requests.get('https://dog.ceo/api/breeds/list/all')
dog = pd.DataFrame(response.json())

In [107]:
pd.DataFrame(dog)

                                                         message   status
affenpinscher                                                 []  success
african                                                       []  success
airedale                                                      []  success
akita                                                         []  success
appenzeller                                                   []  success
australian                                            [shepherd]  success
basenji                                                       []  success
beagle                                                        []  success
bluetick                                                      []  success
borzoi                                                        []  success
bouvier                                                       []  success
boxer                                                         []  success
...                                                          ...      ...
shihtzu                                                       []  success
spaniel        [blenheim, brittany, cocker, irish, japanese, ...  success
spitz                                                 [japanese]  success
springer                                               [english]  success
stbernard                                                     []  success
terrier        [american, australian, bedlington, border, cai...  success
tervuren                                                      []  success
vizsla                                                        []  success
waterdog                                               [spanish]  success
weimaraner                                                    []  success
whippet                                                       []  success
wolfhound                                                [irish]  success

[99 rows x 2 columns]

In [ ]:
3.

In [111]:
emojihub = response = requests.get("https://emojihub.yurace.pro/api/random")
print("emojihub:", emojihub.status_code)

emojihub: 200

In [119]:
# print(emojihub)
# print(len(emojihub.content))
# emojihub.content

In [118]:
# import json

# response = requests.get("https://emojihub.yurace.pro/api/random")
# response.content
# print(len(response.text))
# emojihub = response.json()
# emojihub

In [115]:
type(emojihub)

dict

In [116]:
response = requests.get("https://emojihub.yurace.pro/api/random")
emojihub = pd.DataFrame(response.json())

In [117]:
pd.DataFrame(emojihub)

                                      name category    group htmlCode unicode
0  black circle for record ≊ record button  symbols  symbols  &#9210;  U+23FA